@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff') format('woff2'),
		url('../fonts/Gilroy-Medium.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff') format('woff2'),
		url('../fonts/Gilroy-Regular.woff2') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-family: Gilroy;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
.block {
	width: auto;
}
.wrapper {
	min-height: 100%;
	padding: 30px;
}
/* .link {
	color: rgb(47, 0, 255);
	transition-duration: 0.5s;
	font-size: 24px;
}
.link:hover {
	color: red;
	font-size: 30px;
}
.link_anim {
	transition-duration: 0.2s;
	transition-property: all;
	transition-delay: 0s;
	transition-timing-function: ease;
} */
/* .button {
	display: inline-block;
	color: #fff;
	background-color: green;
	border-radius: 10px;
	padding: 10px 15px;
	box-shadow: 0px 0px 10px rgba(37, 22, 22, 0.3);
	transition: 5.3s;
}
.button:hover{
	transform: translate(0px, 3px);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3;
} */
/* .menu {
	overflow: hidden;
	background-color: rgba(114, 45, 45, 0.05);
}
.menu:hover .menu__list {
	transform: translateX(0);
	transition-delay: 0s;
}
.menu:hover .menu__item {
	transform: translateX(0);
}
.menu:hover .menu__item:nth-child(1) {
	transition-delay: 0s;
}
.menu:hover .menu__item:nth-child(2) {
	transition-delay: 0.2s;
}
.menu:hover .menu__item:nth-child(3) {
	transition-delay: 0.4s;
}
.menu:hover .menu__item:nth-child(4) {
	transition-delay: 0.6s;
}
.menu__list {
	background-color: green;
	padding: 15px;
	width: 300px;
	transform: translateX(-100%);
	transition: 0.3s;
	transition-delay: 0.8s;
}
.menu__item {
	transform: translateX(-100%);
	transition-duration: 0.6s;
}
.menu__item:nth-child(1) {
	transition-delay: 0s;
}
.menu__item:nth-child(2) {
	transition-delay: 0.2s;
}
.menu__item:nth-child(3) {
	transition-delay: 0.4s;
}
.menu__item:nth-child(4) {
	transition-delay: 0.6s;
}
.menu__item:not(:last-child) {
	margin: 0 0 10px 0;
}
.menu__link {
	color: #fff;
	font-size: 30px;
} */
/* .block {
	width: 200px;
	height: 200px;
	/* position: relative; */
/* transform: translate(100px, 0px);
	background-color: rgb(27, 238, 125);
	animation-name: somename;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 0;
	animation-direction: alternate;
	animation-fill-mode: none;
	animation-play-state: running;
}
.block:hover {
	animation-play-state: paused;
/* } */
/* .block::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(201, 201, 51);
	transform: rotate(-45deg);
} */
/* @keyframes somename {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		background-color: blueviolet;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	100% {
		transform: translate(300px, 0px);
	}
} */
/* .block {
}
.block:hover {
}
@keyframes somename {
}
.crescent {
	overflow: hidden;
	width: 300px;
	height: 300px;
	transform-origin: 160px 200px;
	animation: crescent-anim 1s 4 linear alternate 1s;
}
.crescent__item {
	background-color: rgb(5, 3, 3);
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: relative;
	animation: crescent-unit 1s 1 linear forwards;
}
.crescent__item::before {
	content: '';
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: crescent-shadow 1s linear forwards;
}
@keyframes crescent-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(20deg);
	}
}
@keyframes crescent-init {
	0% {
		transform: translate(-100px, 0px);
	}
	100% {
		transform: rotate(45deg) translate(0px, 0px);
	}
}
@keyframes crescent-shadow {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-50px, 50px);
	}
} */
.block-car {
	background: url(../img/img11.jpg);
	height: 500px;
}
.main-header {
	font-size: 35px;
	font-weight: 900;
	text-align: center;
}
.car {
	width: 420px;
	position: relative;
	top: 220px;
	left: 50px;
	z-index: 5;
	animation: car 12s forwards infinite;
}
@keyframes car {
	0% {
		transform: translateX(-100%);
	}
	20% {
		transform: translateX(200%);
	}
	50% {
		transform: translateX(300%);
	}
	70% {
		transform: translateX(800%);
	}
	100% {
		transform: translateX(800%);
	}
}
.car-base {
	background: #d11020;
	width: 100%;
	height: 54px;
	border-radius: 50px 50px 10px 10px;
}
.car-top {
	height: 90px;
	width: 262px;
	background: #d11020;
	margin-bottom: -36px;
	border-radius: 90px / 50px;
	margin-left: 50px;
	position: relative;
}
.head-light {
	position: absolute;
	background: #eeea09;
	right: 15px;
	top: 68px;
	border-radius: 0 100% 0 100%;
	width: 25px;
	height: 20px;
}
.back-light {
	position: absolute;
	background: #eeea09;
	left: 20px;
	top: 68px;
	border-radius: 50%;
	width: 20px;
	height: 15px;
}
.window {
	position: absolute;
	background: white;
	width: 200px;
	height: 32px;
	top: 20px;
	border-radius: 50% 50% 0 0;
	left: 22px;
	border: 3px solid #1a1f22;
}
.window::before {
	content: '';
	position: absolute;
	left: 100px;
	top: 0px;
	background: #1a1f22;
	height: 30px;
	width: 10px;
}
.wheel {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: #202020;
	position: absolute;
}
.wheel-left {
	left: 42px;
	bottom: -8px;
}
.wheel-right {
	right: 42px;
	bottom: -8px;
}
.road {
	width: 100%;
	height: 100px;
	background: rgb(85, 71, 71);
	position: relative;
	top: 150px;
}
.wheel-center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(238, 232, 232);
	z-index: 3;
	transform: translate(-50%, -50%);
}
.road-line {
	position: relative;
	top: 50px;
	width: 100%;
	height: 3px;
	background: white;
}
.bigboard {
	display: block;
	width: 200px;
	height: 50px;
	background-color: rgb(17, 93, 233);
	margin-left: 1100px;
	margin-top: 100px;
	border: 3px solid #fff;
}
.text {
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding: 10px;
}
.bigboard_2 {
	width: 10px;
	height: 500px;
	background-color: #fff;
	margin-left: 95px;
}
